@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.app {
  background-image: url(https://freight.cargo.site/t/original/i/50ac5b71248b5b66a7c687379c7afbca0f23c969ac1316e10c3cde143cd4ec58/debugDuck.png);
}

h1 {
  color: red;
}

.headertitle {
  font-family: 'Playfair Display', serif;
}

/* Dropdown Button */
.dropbtn {
  background-color: #808080;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 15px 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #a9a9a9;
}
.dropdown:hover .dropbtn {
  background-color: #a9a9a9;
}